
/* VARIABLES */
:root {
	--themeColor : #1cc0f6;
	--menuPanelBackground : #f6f6f6
}

/* Container */
div.texter {
    box-shadow: 0px 0px 5px 1px lightgray;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
	min-width: 200px;
	height: auto;
}


/* Option menu */
div.texter > div.texter-option-menu {
	position: relative;
	padding: 8px;
	background-color: var(--menuPanelBackground);
	width: auto;
	height: auto;
	border-radius: 5px 5px 0 0;
	overflow-y: auto;
}

div.texter > div.texter-option-menu > div.menu-panel > span.menu-divider {
    width: 0;
    height: auto;
    margin: 0 5px;
    border-left: 1px solid #9b9b9b;
}

div.texter > div.texter-option-menu > div.menu-panel {
	display: flex;
	width: 100%;
	height: auto;
	min-width: 500px;
	margin: 5px 0;
}

div.texter-option-menu > div.menu-panel > span.menu-item-container {
	margin: 0 2px;
}

div.texter-option-menu > div.menu-panel > span.menu-item-container > span.first-level-item {
	padding: 7px 10px 10px;
	border-radius: 5px;
	text-align: center;
	cursor: grab;
}

div.texter-option-menu > div.menu-panel > span.menu-item-container > span.first-level-item > svg{
	vertical-align: middle;
	display: inline-block;
}

div.texter-option-menu > div.menu-panel > span.menu-item-container > span.first-level-item:hover {
	background-color: #eeeeee;
}

div.texter-option-menu > div.menu-panel > span.menu-item-container > span.active {
	background-color: var(--themeColor) !important;
	color: #fff !important;	
}

/* Text editor */
div.texter > div.texter-text-editor {
	outline: none;
	overflow: scroll;
	padding: 20px;
	font-size: 20px;
	font-family: Arial;
}


div.texter > div.texter-text-editor::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
 

div.texter > div.texter-text-editor::-webkit-scrollbar-thumb {
  background: #a3a3a3; 
  border-radius: 10px;
}


div.texter-text-editor > p {
	margin-block: 1px;
}

/* Image Options */

span.image-container{
	display: inline-block;	
	position: relative;	
}

span.image-options {    
	position: absolute;
	display: flex;
  bottom: -35px;
  left: 0;
  background-color: #d8d8d8;
  padding: 5px;
  border-radius: 5px;
}

span.image-options > button {
    background-color: #fff;
    border: navajowhite;
    margin: 0px 2px;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
}

span.image-options > button:hover {
	background-color: var(--themeColor);
	color : #fff;
}

div.texter-text-editor img {
	width: 100%;
	height: auto;
}

span.custom-feature-divider {
  width: 0;
  height: auto;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  margin: 0 3px;
}

button[feature="img-close"] {
    color: red !important;
}

button[feature="img-close"]:hover {
    color: #fff !important;
    background-color: red !important;
}

div.texter-text-editor span.full {
	width: 100% !important;
}

div.texter-text-editor span.half {
	width: 50% !important;
}

div.texter-text-editor span.quarter {
	width: 25% !important;
}

div.texter-text-editor > p.align-left {
	text-align: left;
}

div.texter-text-editor > p.align-right {
	text-align: right;
}

div.texter-text-editor > p.align-center {
	text-align: center;
}