
/* VARIABLES */
:root {
	--themeColor : #1cc0f6;
	--menuPanelBackground : #f6f6f6;
	--customFeatureMenuBackgorund : #d8d8d8;
	--tableHeaderBackground : gray
}

/* General classes */
.hide { display:none; }

/* Container */
div.texter {
    box-shadow: 0px 0px 5px 1px lightgray;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
	min-width: 200px;
	height: auto;
}


/* Option menu */
div.texter > div.texter-option-menu {
	position: relative;
	padding: 5px 10px;
	background-color: var(--menuPanelBackground);
	width: auto;
	height: auto;
	border-radius: 5px 5px 0 0;
}

div.texter-option-menu > div.overflow-scroll {
	overflow-x: auto;
}

div.overflow-scroll > div.menu-panel {
	display: flex;
	width: 100%;
	height: auto;
	min-width: 500px;
}

div.menu-panel > span.menu-divider {
    width: 0;
    height: auto;
    margin: 0 5px;
    border-left: 1.3px solid #9b9b9b;
}

div.menu-panel > span.first-level-item {
	position: static;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	cursor: grab;
	margin: 0 3px;
}

div.menu-panel > span.first-level-item > svg{
	vertical-align: middle;
	display: inline-block;
}

div.menu-panel > span.first-level-item:hover {
	background-color: #eeeeee;
}


div.menu-panel > span.active {
	background-color: var(--themeColor) !important;
	color: #fff !important;	
}

span#item-sub-menu {
 	position: absolute;
 	padding: 5px;
 	background-color: var(--menuPanelBackground);
 	border-radius: 5px;
 	border: 1.3px solid var(--themeColor);
 	z-index: 5;
}

span#item-sub-menu::before {
    content: '';
    border: 2px solid;
    position: absolute;
    top: -11px;
    left: 12px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--themeColor);
}

span#item-sub-menu > table.demo-table {

}

table.demo-table > tr {

}

table.demo-table > tr > td {
    border: 1px solid;
    padding: 5px;
}

table.demo-table > tr > td.selected {
	background-color: var(--themeColor);
}

/* Text editor */
div.texter > div.texter-text-editor {
	outline: none;
	overflow: scroll;
	padding: 20px;
	font-size: 20px;
	font-family: Arial;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}


div.texter > div.texter-text-editor::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
 

div.texter > div.texter-text-editor::-webkit-scrollbar-thumb {
  background: #a3a3a3; 
  border-radius: 10px;
}


div.texter-text-editor > p {
	margin-block: 1px;
}

/* Image Options */

span.image-container{
	display: inline-block;	
	position: relative;	
}

span.image-options {    
	position: absolute;
	display: flex;
	top: 100%;
	left: 0;
	background-color: var(--customFeatureMenuBackgorund);
	padding: 5px;
	border-radius: 5px;
}

span.image-options > button {
    background-color: #fff;
    border: navajowhite;
    margin: 0px 2px;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
}

span.image-options > button > svg {
	display: inline-block;
	vertical-align: middle;
}

span.image-options > button:hover {
	background-color: var(--themeColor);
	color : #fff;
}

div.texter-text-editor img {
	width: 100%;
	height: auto;
}

span.custom-feature-divider {
  width: 0;
  height: auto;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  margin: 0 3px;
}

button[feature="img-close"] {
    color: red !important;
}

button[feature="img-close"]:hover {
    color: #fff !important;
    background-color: red !important;
}

div.texter-text-editor span.full {
	width: 100% !important;
}

div.texter-text-editor span.half {
	width: 50% !important;
}

div.texter-text-editor span.quarter {
	width: 25% !important;
}

/*div.texter-text-editor > div.align-left {
	text-align: left;
}

div.texter-text-editor > div.align-right {
	text-align: right;
}

div.texter-text-editor > div.align-center {
	text-align: center;
}*/


div.texter-text-editor table {
	position: relative;
	border-collapse: collapse;
	text-align: center;
}

div.texter-text-editor table.header-col > tr > td:nth-of-type(1), div.texter-text-editor table.header-col > tr > th:nth-of-type(1) {
	background-color: var(--tableHeaderBackground);
	color: #fff;
	font-weight: bold;
}

div.texter-text-editor table.header-row > tr:nth-of-type(1) {
	background-color: var(--tableHeaderBackground);
	color: #fff;
	font-weight: bold;
}


div.texter-text-editor table td, div.texter-text-editor table th {
	min-width: 100px;
	height: 50px;
	border: 1px solid;
	padding: 5px;

}

span.table-options {
	position: absolute;
	display: flex;
	background-color: var(--customFeatureMenuBackgorund);
	z-index: 1;	
	width: auto;
	height: auto;
	padding: 5px;
	border-radius: 5px;
	top: 101%;
	left: 0;
}

span.table-options > button {
    background-color: #fff;
    border: navajowhite;
    margin: 0px 2px;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
}

span.table-options > button > svg {
	display: inline-block;
	vertical-align: middle;
}

span.table-options > button:hover {
	background-color: var(--themeColor);
	color : #fff;
}

button[feature="table-close"] {
    color: red !important;
}

button[feature="table-close"]:hover {
    color: #fff !important;
    background-color: red !important;
}


/* ======================================================== */
/* Styling Classes */
/* ======================================================== */


/* Alignment */
/*-----------*/

div.texter-text-editor > h1,
div.texter-text-editor > h2,
div.texter-text-editor > h3,
div.texter-text-editor > p,
div.texter-text-editor > div
{
	width: 100%;
}


/* Block element */
div.texter-text-editor > h1.align-left,
div.texter-text-editor > h2.align-left,
div.texter-text-editor > h3.align-left,
div.texter-text-editor > p.align-left,
div.texter-text-editor > div.align-left
{
	text-align: left;
}

div.texter-text-editor > h1.align-center,
div.texter-text-editor > h2.align-center,
div.texter-text-editor > h3.align-center,
div.texter-text-editor > p.align-center,
div.texter-text-editor > div.align-center
{
	text-align: center;
}

div.texter-text-editor > h1.align-right, 
div.texter-text-editor > h2.align-right,
div.texter-text-editor > h3.align-right,
div.texter-text-editor > p.align-right,
div.texter-text-editor > div.align-right
{
	text-align: end;
}


/* Other elements */
div.texter-text-editor > ul.align-left,
div.texter-text-editor > ol.align-left,
div.texter-text-editor > table.align-left
{
	align-self: flex-start;
}

div.texter-text-editor > ul.align-center,
div.texter-text-editor > ol.align-center,
div.texter-text-editor > table.align-center
{
	align-self: center;
}

div.texter-text-editor > ul.align-right, 
div.texter-text-editor > ol.align-right,
div.texter-text-editor > table.align-right
{
	align-self: flex-end;
}